<h1>Table des matières</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div ng-repeat="category in categories" class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{$index}}">

      <h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true"
           aria-controls="collapse{{$index}}">
          {{category.title}}</a>
      <button type="button" class="btn btn-success btn-sm" ng-show="category.pdf">
        PDF
      </button>
      <button type="button" class="btn btn-primary btn-sm" ng-show="category.epub">
        EPUB
      </button>
      </h4>
    </div>
    <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
      <div class="panel-body">
        <p ng-hide="category.pages">Aucune page pour cette année.</p>
        <ul>
          <li ng-repeat="page in category.pages"><a
            ng-href="{{buildRoute(category.title,page.title)}}">{{page.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
