<h1>Kanji - Niveau {{vm.level}}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-1 col-xs-2" data-ng-repeat="char in vm.charList">
      <a data-ng-click="vm.showKanji(char)">{{char}}</a>
    </div>

  </div>

  <hr/>

  <div data-ng-show="vm.kanji">
    <div class="well">
      <h1 tooltip="{{vm.kanji.writing}}">{{vm.kanji.kanji}}</h1>
      <div><strong>{{vm.kanji.meaning}}</strong></div>
      <div><em>{{vm.kanji.comment}}</em></div>
      <h3>
      <span data-ng-repeat="reading in vm.kanji.readings">
        <span class="label" ng-class="{'label-primary':!vm.isKatakana(reading),'label-danger':vm.isKatakana(reading)}">{{reading}}</span>
        &nbsp;
      </span>
      </h3>
    </div>

    <table class="table table-condensed">
      <tr>
        <th>Japonais</th>
        <th>Lecture</th>
        <th>Traduction</th>
      </tr>
      <tr data-ng-repeat="vocabulary in vm.kanji.vocabulary">
        <td data-toggle="tooltip" data-placement="top" title="{{vocabulary.reading}}">{{vocabulary.japanese}}</td>
        <td>{{vocabulary.reading}}</td>
        <td>{{vocabulary.meaning}}<em data-ng-show="vocabulary.comment"><br/>{{vocabulary.comment}}</em></td>
      </tr>
    </table>
  </div>
</div>
